body {
}


.carousel-inner > .item > img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
}

/*.carousel-caption > h1{
    color:black;
}

.carousel-caption > p{
    color:black;
}*/