@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,cyrillic");
body {
}


.carousel-inner > .item > img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*.carousel-caption > h1{
    color:black;
}

.carousel-caption > p{
    color:black;
}*/