@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,cyrillic");

.carousel-inner > .item > img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.carousel-caption > h1 {
    background-color: rgba(50, 95, 135, 0.5);
}

.carousel-caption > .text-center {
    background-color: rgba(50, 95, 135, 0.5);
}
